<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="author" content="Cristian Mircea Messel" />
  <meta name="description" content="FaceDetection API is a free webservice that
    aims to enable basic computer vision on Internet ready devices." />
  <meta name="keywords" content="api, simple, face, detection, face detection, 
    free, webservice, computer vision, frontal face, key, student, ruby" />
  <meta name="google-site-verification" content="9H9fuA4m_irIsYc2DJERTfHT_3ttLSzxobfUNliz5nk" />
  <title>Free FaceDetection API: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "sinatra", :media => "screen,projection" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "webtoolkit.base64" %>
  <%= javascript_include_tag "web" %>
  <%= javascript_include_tag "xmlparser" %>
</head>
<body>
<div id='wrap'> 

  <div id="head">
    <br />
    <ul>
      <li>face detection api:</li>
      <li><a href="signup">authenticate</a></li>,
      <li><a href="example">info</a></li>,
      <li><a href="thanks">thanks</a></li>
    </ul>
  </div>
  <div id="content">
  <%= yield %>
  email: <b>contact@welcome-to-the-world.com</b>
  </div>
  <div id="footer">
    <%= render :partial => "shared/footer" %>
  </div>
</div>
</body>
</html>

