<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Free FaceDetection API: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "sinatra", :media => "screen,projection" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "webtoolkit.base64" %>
  <%= javascript_include_tag "web" %>
  <%= javascript_include_tag "xmlparser" %>
</head>
<body>
<div id='wrap'> 

  <DIV id="head">
    <br />
    <UL>
      <LI>face detection api:</LI>
      <LI><A href="signup">authenticate</A></LI>,
      <LI><A href="example">example</A></LI>
    </UL>
  </DIV>
  <DIV id="content">
  <%= yield %>
  </DIV>
</div>
</body>
</html>

