<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="author" content="Cristian Mircea Messel" />
  <meta name="description" content="Face detection made simple. The API allows you to find the positions of frontal faces in JPEG images. Until now, there was no easy to way to do this. And it is only one HTTP request away." />
  <meta name="keywords" content="api, simple, face, detection, face detection, 
    free, webservice, computer vision, frontal face, key, student, ruby" />
  <meta name="google-site-verification" content="9H9fuA4m_irIsYc2DJERTfHT_3ttLSzxobfUNliz5nk" />
  <title>Face Detection Made Simple. Free!</title>
  <%= stylesheet_link_tag "sinatra", :media => "screen,projection" %>
  <%= javascript_include_tag 'detect_result_parser' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<div id='wrap'>

  <a href="http://github.com/mess110/detection"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub" /></a>
  <div id="head">
    <br />
    <ul>
      <li>face detection api:</li>
      <li><a href="home">home</a></li>,
      <li><a href="demo">demo</a></li>,
      <li><a href="info">info</a></li>,
      <li><a href="http://detectionapi.blogspot.com/" target="_new">blog</a></li>,
      <li><a href="http://github.com/mess110/detection/wiki" target="_new">wiki</a></li>,
      <li><a href="thanks">thanks</a></li>
    </ul>
  </div>
  <div id="content">
  <%= yield %>
  email: <b>detection-api@googlegroups.com</b>
  </div>
  <div id="footer">
    <%= render :partial => "web/footer" %>
  </div>
</div>
</body>
</html>
